
       @import url("http://cdn.web-fonts.ge/fonts/bpg-square-mtavruli/css/bpg-square-mtavruli.min.css");
        


        @font-face {
            font-family: "Mikoena Font";
            src: url("./font/Mikoena-Demo.ttf") , url("font/Mikoena-Demo.otf");
        }




        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            user-select: none;
            font-family: "BPG Square Mtavruli", sans-serif;

        }

        
        
        .background-image {
            width: 100%;
            height: 100vh;
            
        }

        .Header-logo a {
            text-decoration: none;
            color: #222121;
            font-family: "Mikoena Font";
        } 

        .Header {
            width: 100%;
            height: 118px;
            /* background-color: #aaa; */
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            /* background-image: url(images/mike-yukhtenko-a2kD4b0KK4s-unsplash.jpg); */
            padding: 25px;
            color: white;
            display: flex;
            gap: 30px;

        }

        .Header-logo {
            font-family: "Mikoena Font";
            font-size: 2.9rem;
            padding: 10px 20px;
            background-color: #ccc;
            /* display: inline-block; */
            color: #222121;
            border-radius: 25px;
            cursor: pointer;
            transition: 400ms;
            

        }

        .Header-logo:hover {
            background-color: #ddd;
        }

        .Header-logo:active {
            background-color: #665a5a;
        }

        .Navigation {
            padding: 7px 20px;
            background-color: #ccc;
            border-radius: 25px;
            display: flex;
            align-items: center;
            opacity: .8;
            transition: 200ms;
            font-size: 20px;
            margin-left: auto;

        }

        .Navigation:hover {
            opacity: 1;
        }

        .Navigation ul {
            display: flex;
            gap: 25px;
        
        }

        .Navigation ul li {
            display: inline-block;
        }

        .Navigation ul li a {
            text-decoration: none;
            color: #222121;
        }
        
        .Navigation ul li a:hover {
            color: #666;

        }

        .background-image1 {
            background-image: url("Images/mtavari.jpg");
        }

        .background-image2 {
            background-image: url("Images/godfatheri.jpg");

        }

        .background-image3 {
            background-image: url("Images/kepebi.jpg");
        }

        .background-image4 {
            background-image: url("Images/tomjery.jpg");

        }

        .movie-container video {
            width: 400px;
            
        }

        .dropdown-menu {    
            background-color: #555;
            padding: 10px;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .dropdown {
            position: relative;
        }

        .dropdown-item a {
            color: #ccc !important; 
        }

        .dropdown-item a:hover {
            color: #ffffff !important;
        }

        .dropdown-link:hover ~ .dropdown-menu-container, .dropdown-menu-container:hover {
            display: flex;
        }

        .dropdown-menu-container {
            position: absolute;
            top: 100%;
            left: 0;
            display: none;
            padding-top: 10px;
            
        }
        
        
